body {
  font-family: Arial;
  background: #f0f0f0;
  text-align: center;
}

.dark {
  background: #121212;
  color: white;
}

.container {
  background: white;
  width: 380px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.dark .container {
  background: #1e1e1e;
}

input, button {
  margin: 5px;
  padding: 10px;
  width: 90%;
}

button {
  background: #007bff;
  color: white;
  border: none;
}

li {
  list-style: none;
  background: #eee;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.dark li {
  background: #333;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

#progress {
  margin: 10px;
  font-weight: bold;
  color: green;
}
